---
title: 'Welcome'
---
<!DOCTYPE html>
<html>
<head>
  <title>Deerbaby Photos {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
</head>
<body>
  <div id="container">
    <div id="content" class="page-{{page.id}}">
      {{content}}
    </div>
    {% if page.url != '/' %}
    <ul id="navigation">
      <li id="nav-contact"><a href="/contact"></a></li>
      <li id="nav-baby-photography"><a href="/baby-photography"></a></li>
      <li id="nav-about"><a href="/about"></a></li>
      <li id="nav-rates"><a href="/rates"></a></li>
    </ul>
    {% endif %}
    <a href="/" id="deer-baby"></a>
    <div id="deer-baby-logo"></div>
  </div>
  <script src='{{site.baseurl}}/site.js'></script>
</body>
