---
---
<!DOCTYPE html>
<html>
<head>
  <title>Deerbaby Photos {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="description" content="Hello, I am Julia a photographer based in Brooklyn and loving it. Having education and experience in photography, my style is authentic, editorial and real. I absolutely love my job and strive to create meaningful memories in your life. I am also available for birthday parties, baptism ceremonies and other family gatherings."/>
  <meta name="keywords" content="Julia Cawley, deer baby, baby photography, photo, baby, photographer, brooklyn, manhattan, queens, ny, studio, home, session, birthday party, baptism ceremonies, family gathering, style, authentic, editorial, german, education, experience, professional"/>
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/static/flexslider.css' rel='stylesheet' />
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1422351708033942&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body>
  <div id="container">
    <div id="content" class="page-{{page.id}}">
      {{content}}
    </div>
    {% if page.url != '/' %}
    <ul id="navigation">
      <li id="nav-contact"><a href="/contact"></a></li>
      <li id="nav-baby-photography"><a href="/baby-photography"></a></li>
      <li id="nav-about"><a href="/about"></a></li>
      <li id="nav-rates"><a href="/rates"></a></li>
    </ul>
    {% endif %}
    <div id="footer">
      <div id="social">
        <div class="fb-like" data-href="https://www.facebook.com/deerbabyphoto" data-width="50" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
        <div id="instagram">
          <a href="http://instagram.com/deerbabyphoto" target="_blank"><img src="{{site.baseurl}}/img/instagram.png" alt="Instagram" border="0" /></a>
        </div>
      </div>
      <a href="/" id="deer-baby"></a>
      <div id="deer-baby-logo"></div>
      <div id="footer-contact">
        <p>Deer Baby Photography - Julia Cawley - <a href="mailto:julia@deerbabyphoto.com">julia@deerbabyphoto.com</a> - 347-878-5856</p>
      </div>
    </div>
  </div>
  <script src='{{site.baseurl}}/site.js'></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1883062-3', 'deerbabyphoto.com');
    ga('send', 'pageview');

  </script>
</body>
